SNIFOX_API_BASE=https://core.snifoxai.com/v1
SNIFOX_API_KEY=snfx-your-api-key
LITELLM_BASE_URL=http://localhost:4000/v1
LITELLM_SECRET_KEY=your_litellm_secret_key
PORT=8787
WEB_ORIGIN=http://localhost:5173
